<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
</head>
<body>
    <div id="signupcontainer">
        <div id="signuptextcontainer">
            <div id="signuptext">
                <h1>Welcome Again</h1>
                <span>This codeial is like a social mnedia. This is build for eduaction purpose developed while learning.
                    Donot enter sensative information</span>
            </div>
        </div>
        <div id="signupform">
            <form action="/user/signin" method="post">
                <h1>sign in</h1>
                <input type="email" placeholder="abc@gmail.com" id="email" name="email" required>
                <input type="password" placeholder="enter password" id="password" name="password" required>
                <input type="submit" id="formbutton" placeholder="signup">
                <a href="/user/signuppage">Dont have account</a>
            </form>
        </div>
    </div>
</body>
</html>